<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<%= render 'navbar' %>


  <div class="container">
   <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    <div class="text-center">
      <%= render 'form_setup' %>
      </div>
    </div>
  </div>
</div>

</body>
</html>
